// Import page-specific CSS files here.
@import "home";
@import "show";



.card-trip {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width:50vw;
  margin-left: 300px;
  margin-top: 10px;


}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2,p {
    color:#d33a2c
  }
  a{
    font-size: 12px;
    color:#d33a2c
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  h2,p {
    color:#d33a2c
  }
}



.img_preview {
  width: 100%;
}
