
  <div class="flex">
    <%= image_tag "logo.jpg", alt: "Le Wagon", class: "avatar"%>
    <a href="produtos/new"><sub>criar produto</sub></a>
  </div>
  <div class="flex">
    <p><sup>Loja da sua</sup> família <a href="produtos"><sub>ver produtos</sub></a></p>
  </div>
