
  <div class="flex">
    <img src="assets/logo.jpg" alt="" class="avatar">
    <a href="produtos/new"><sub>criar produto</sub></a>
  </div>
  <div class="flex">
    <p><sup>Loja da sua</sup> família <a href="produtos"><sub>ver produtos</sub></a></p>
  </div>
